.text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
html,
body {
  margin: 0;
  padding: 0;
}
#back {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100vw;
  height: auto;
}
#music {
  width: 2vw;
  position: fixed;
  z-index: 1;
  top: 0.75vw;
  left: 1vw;
}
body {
  overflow: hidden;
  -webkit-user-select: none;
  /* background-color:rgb(60, 195, 254); */
}
.buttons {
  position: absolute;
  top: 0;
  left: -1px;
  background: #000000;
  width: 100vw;
  height: 4vw;
  opacity: 0.5;
  z-index: 1;
}
.main {
  position: absolute;
  width: 8vw;
  height: 4vw;
  left: 12vw;
  z-index: 1;
  font-weight: bold;
  color: white;
}
.main p {
  position: absolute;
  font-size: 2vw;
  bottom: -1vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.fractions {
  position: absolute;
  width: 8vw;
  height: 4vw;
  left: 21vw;
  z-index: 1;
  font-weight: bold;
  color: white;
}
.fractions p {
  position: absolute;
  font-size: 2vw;
  bottom: -1vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.chars {
  position: absolute;
  width: 8vw;
  height: 4vw;
  left: 31vw;
  z-index: 1;
  font-weight: bold;
  color: white;
}
.chars p {
  position: absolute;
  font-size: 2vw;
  bottom: -1vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.butt {
  z-index: 1;
  position: absolute;
  top: 55.55vh;
  opacity: 0;
}
.charactericon {
  /* margin-top: 22px; */
  z-index: 1;
  position: absolute;
  opacity: 0;
  left: 0.25vw;
  width: 5.7vw;
  height: 5.7vw;
  top: 0.3vw;
  border-radius: 10%;
}
.element {
  position: absolute;
  opacity: 0;
  width: 3.5vw;
  top: -4vw;
  left: 1.35vw;
  z-index: 0;
}
.aniname {
  /* font-weight: bold; */
  font-size: 1.3vw;
  color: white;
  margin-top: 5.9vw;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
#img {
  position: absolute;
  right: 0;
  height: 100vh;
  /*  margin-left: 328px;*/
}
#characterimg {
  position: absolute;
  /* top: 0;
left: 0px; */
  top: 0;
  left: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
}
.fon {
  background: #181818;
  position: absolute;
  width: 6.2vw;
  height: 7.5vw;
  opacity: 1;
  top: 0px;
  z-index: -2;
  opacity: 0;
  border-radius: 10%;
}
.fon1 {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 5.7vw;
  height: 5.7vw;
  top: 0.3vw;
  left: 0.25vw;
  z-index: 1;
  border-radius: 10%;
}
#characterpage {
  width: 100%;
  height: 10vw;
  background: rgba(117, 117, 117, 0.5);
  position: absolute;
  left: 0vw;
  bottom: 0;
  /* width: 1920px;
height: 180px;
background: #757575;
opacity: 0.5;
position: absolute;
left: 0px;
top: 800px; */
}
#characterpage1 {
  width: 100%;
  height: 7.4vw;
  position: absolute;
  top: 10%;
  left: 30%;
  margin: auto;
  z-index: 1;
}
#levo,
#pravo {
  position: absolute;
  top: 30%;
  z-index: 2;
}
#levo {
  left: 21.5vw;
}
#pravo {
  right: 21vw;
}
#name {
  position: absolute;
  top: 2vw;
  left: 20.8vw;
  color: white;
  font-weight: bold;
  font-size: 5.2vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
#opisanie {
  margin-top: 0.25vw;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.5vw;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.scrollbar {
  position: absolute;
  top: 14.0625vw;
  left: 20.8vw;
  height: 8.8125vw;
  width: 27.6vw;
  background: #333333;
  overflow-y: scroll;
  margin-bottom: 1.3vw;
  opacity: 0.7;
}
#video {
  height: calc(27.6vw*0.5625);
  width: 27.6vw;
  position: absolute;
  top: 23.475vw;
  left: 20.8vw;
  z-index: 1;
}
#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #282828;
}
#style-1::-webkit-scrollbar {
  width: 4px;
  background-color: #333333;
}
#style-1::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #b9b9b9;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
@media (orientation: portrait) {
  #img {
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    width: 100%;
  }
  #back {
    height: 100vh;
    width: auto;
  }
  .scrollbar {
    position: absolute;
    top: 35vh;
    left: 5%;
    height: 15.8125vh;
    width: 90%;
    background: rgba(51, 51, 51, 0.7);
    overflow-y: scroll;
  }
  #opisanie {
    margin-top: 0.25vw;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 3vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  #name {
    position: absolute;
    top: 5vh;
    left: 25vw;
    color: white;
    font-weight: bold;
    font-size: 5.2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}
